* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.nav {
    display: flex;
    justify-content: center;
}

.subnav {
    padding-top: 40px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    /* background-color: red; */
}

.head {
    display: flex;
    align-items: center;
}

.head img {
    height: 40px;
    width: 70px;
}

.head h1 {
    font-size: 27px;
}

.login {
    display: flex;
    align-items: center;
    gap: 10px;
}

.login img {
    height: 40px;
    width: 40px;
    border-radius: 50px;
    background-position: center;
    background-size: cover;
}

.first {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.first h2 {
    color: blueviolet;
    text-align: center;
}

.first h1 {
    font-size: 48px;
    padding-top: 16px;
}

.first p {
    color: rgb(73, 70, 70);
    text-align: center;
    padding-top: 10px;
}

.first .area button {
    width: 200px;
    height: 47px;
    border-radius: 10px;
    border: none;
    background-color: blueviolet;
    color: white;
    font-size: 16px;
    margin-top: 45px;
}

.first .btn {
    display: flex;
    justify-content: center;
}


.subfirst {
    margin-top: 20px;
    width: 700px;
    height: 45vh;
    border-radius: 15px;
    background-color: white;
    margin-left: 20px;
    display: flex;
    display: none;
    border: 2px solid rgb(230, 227, 227);
}

.this .not img{
    width: 70%;
    height: 120%;
    padding-left: 70px;
    display: none;
}
.this {
    width: 50%;
    height: 100%;
    padding-left: 14px;
}

.this h2 {
    font-size: 30px;
}

.this h1 {
    font-size: 40px;

}

.that {
    width: 50%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    background-image: url(./image/smiling-face-white-teeth-flat-260nw-1087504610.webp);
}

.not {
    width: 100%;
    height: 50%;
    padding-top: 20px;
    /* background-color: red; */
}

.never img {
    width: 40px;
    height: 40px;
}

.never p {
    padding-top: 10px;
    font-size: 22px;
}


.subtwo {
    margin-top: 10px;
    width: 700px;
    height: 20vh;
    border-radius: 15px;
    background-color: white;
    margin-left: 20px;
    display: none;
    border: 2px solid rgb(230, 227, 227);
}


.or {
    display: flex;
    align-items: center;
    padding-top: 10px;
}

.or img {
    height: 80px;
    width: 80px;
}

.or p {
    font-size: 26px;
}

.subtwo h1 {
    font-size: 50px;
    padding-left: 20px;
}


.subthree {
    margin-top: 10px;
    width: 700px;
    height: 26vh;
    border-radius: 15px;
    background-color: white;
    margin-left: 20px;
    display: none;
    border: 2px solid rgb(230, 227, 227);
}


.subthree .in {
    display: flex;
}

.in img {
    width: 50px;
    height: 50px;
}

.para1 {
    font-size: 20px;
    padding-left: 20px;
    padding-top: 30px;
    color: rgb(70, 68, 68);
}

.para2 {
    font-size: 24px;
    padding-left: 20px;
    padding-top: 40px;
    color: gray;
}

.para3 {
    font-size: 22px;
    padding-left: 20px;
    padding-top: 50px;
    color: rgb(73, 72, 72);
}









.second {
    display: flex;
    justify-content: center;
}

.sub_two {
    width: 1300px;
    display: flex;
    padding-top: 80px;
}

.sub_two .one {
    width: 30%;
    /* height: 50px; */
    /* background-color: red; */
}

.sub_two .two {
    width: 70%;
    /* background-color: brown; */
}

.box1 {
    width: 310px;
    height: 45vh;
    border-radius: 15px;
    background-color: white;
    border: 2px solid rgb(230, 227, 227);
}

.hed {
    display: flex;
    padding-top: 20px;
    padding-left: 8px;
    gap: 7px;
}

.hed h3 {
    font-size: 17px;
    color: rgb(61, 59, 59);
}

.hed p {
    font-size: 14px;

}

.neutral {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.set1 {
    width: 90%;
    height: 120px;
    border-radius: 15px;
    background-color: rgb(162, 96, 223);
    z-index: 7;
    background-image: url(./image/image.png);
    background-position: right;
    background-repeat: no-repeat;
    left: 40px;
}

.odd {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.set1 img {
    width: 50px;
    height: 50px;

}

.set1 p {
    font-size: 16px;
    width: 210px;
    padding-left: 10px;
}



.box2 {
    width: 680px;
    height: 45vh;
    border-radius: 15px;
    background-color: white;
    border: 2px solid rgb(230, 227, 227);
}

.box2 h2 {
    font-size: 26px;
    padding-top: 20px;
    padding-left: 10px;
}

.sub2 {
    width: 100%;
    height: 37vh;
    background-image: url(./image/image\ \(copy\).jpeg);
    background-position: center;
    background-size: cover;
}

@media screen and (max-width: 1024px) {
    .sub_two {
        width: 100%;
        gap: 20px;
        padding-left: 10px;
    }

    .box1 {
        width: 100%;
       
    }

    .box2 {
        width: 100%;
       
    }

    .subfirst,.subtwo,.subthree {
        width: 100%;
    }

    .first {
        padding-top: 40px;
    }

    .first button {
        display: block;
        margin: 20px auto;
    }
}

@media screen and (max-width:768px) {




    .nav {
        display: flex;
        width: 700px;
    }

    .subnav{
        width: 700px;
    }
    .first {
        padding-top: 50px;
        width: 700px;
    }

    .first button {
        display: none;
    }

    .subfirst {
        margin-top: 20px;
        width: 700px;
        height: 45vh;
        border-radius: 15px;
        background-color: white;
        margin-left: 20px;
        display: flex;
        border: 2px solid rgb(230, 227, 227);
    }

    .subtwo {
        margin-top: 10px;
        width: 700px;
        height: 20vh;
        border-radius: 15px;
        background-color: white;
        margin-left: 20px;
        display: block;
        border: 2px solid rgb(230, 227, 227);
    }

    .subthree {
        margin-top: 10px;
        width: 700px;
        height: 30vh;
        border-radius: 15px;
        background-color: white;
        margin-left: 20px;
        display: block;
        border: 2px solid rgb(230, 227, 227);
    }

    .sub_two {
        padding-top: 10px;
    }

    .box1 {
        width: 700px;
        height: 53vh;
        margin-left: 10px;
    }

    .set1 p {
        width: 320px;
        font-size: 18px;
    }

    .sub_two {
        display: block;
    }

    .two {
        padding-top: 20px;
    }

    .box2 {
        margin-left: 10px;
        width: 700px;
    }

}

@media screen and (max-width: 425px) {

    .nav {
        width: 500px;
    }
.subnav{
    width: 500px;
}
    .first {
        width: 500px;
    }

    .first h1 {
        text-align: center;
    }

    .subfirst {
        width: 500px;
        display: block;
        height:70vh;

    }

    .this .not img{
    width: 70%;
    height: 120%;
    padding-left: 70px;
    display: block;
    /* display: none; */
}
    .never{
        padding-top: 70px;
    }
    .this{
        width: 100%;
    }
    .this h2,h1{
        text-align: center;
    }

    .that {
        position: relative;
        bottom: 210px;
        left: 150px;
        display: none;
    }

    .subtwo,
    .subthree {
        width: 500px;
    }

    .box1,
    .box2 {
        width: 500px;
    }

}
@media screen and (max-width:376px) {
    .subtwo{
        height: 27vh;
    }
    .subtwo h1{
padding-right: 190px;
    }
    .subthree{
        height: 39vh;
    }
}